# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.db

tmp

server/data*

server/server
client/client

.DS_Store
server/__debug_bin
server/.env
.idea